<footer class="footer">
	<small>
		The <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
		by <a href="#">Michael Hartl</a>
	</small>
	
	<nav>
		<ul>
			<li><%= link_to 'about', '/about' %></li>
			<li><%= link_to 'contact', '/contact' %></li>
			<li><%= link_to 'news', '/news' %></li>
		</ul>
	</nav>
</footer>